@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

 */

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.school-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.school-card:hover {
  transform: translateY(-5px);
}

.school-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.school-info {
  padding: 20px;
}

.school-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.school-info p {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 8px;
}

.school-info p:last-child {
  margin-bottom: 0;
} */


.school-card {
  transition: transform 0.3s ease-in-out; /* Add smooth hover effect */
}

.school-card:hover {
  transform: scale(1.02); /* Slight zoom on hover */
}
